<!DOCTYPE html>
<html>
<head>
  <title>Beatbot</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag :modernizr %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="beatbot-navbar navbar" id="nav1">
	  <div class="row">
	    
	    <h4 class="four columns logo" style="margin-left:400px;">
	      <a href="/">
	        <!-- <img src="img/gumby_mainlogo.png" gumby-retina /> -->
	        BeatBot
	      </a>
	    </h4>
	    <!-- <ul class="eight columns" style="float:right;">
				<li class="three columns"><a href=""><i class="icon-music"></i>Features</a></li>
				<li class="three columns"><a href=""><i class="icon-download"></i> Download</a> </li>
				<li class="three columns"><a href=""><i class="icon-info-circled"></i> About</a> </li>
			</ul> -->
	  </div>
	</div>
	  
	 <div id="beatbot_content">
	 </div>
	 <%= yield %>

</body>
</html>
